body {
  margin: 0;
  padding: 1em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

li.invisible {
  opacity: 0.5;
}

li ul.classifiers {
  display: none;
}
li:hover ul.classifiers {
  display: block;
}
#views button.invisible {
  opacity: 0.5;
}

.rc-tabs-nav-wrap,
.rc-tabs {
  border: 0 !important;
}

.rc-tabs-nav-list .rc-tabs-tab {
  margin-right: 1em;
}

.classifier {
  padding: 4px;
  background: #ccc;
  margin: 2px;
  color: #fff;
  display: inline-block;
}

.classifier.state0 {
  background-color: blue;
}
.classifier.state1 {
  background-color: red;
}
.classifier.state2 {
  background-color: gray;
}

.ContentView .RatificationChart {
  float: left;
  padding: 1em;
  border: 1px solid #ccc;
}
.ContentView .RatificationChart .key dt {
  float: left;
  text-align: center;
  width: 1em;
}
.ContentView .RatificationChart .key dd {
  float: left;
  margin-left: 0.5em;
  width: 50px;
}

.RatificationList {
  float: left;
  width: 49%;
}
.ContentView .RatificationList th,
.ContentView .RatificationList td {
  text-align: left;
  margin-right: 1em;
}

.MultiToggle {
  cursor: pointer;
}
